body > .container-fluid {
  background-color: #f8f9fa;
  height: 100vh;
}

.list-group {
  border-radius: 0px;
}

.list-group-item.active {
  /* background-color: #6c757d; */
  border-color: transparent;
  
}

/* .btn.splitButton {
  border: 2px solid blue;
} */