/* #chat {
  background-color: #f8f9fa;
  height: 100vh;
  width: 100wh;
} */

.split-button-align {
  display: flex;
}

.split-button-align button:first-child {
  display: flex;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.split-button-align button:last-child {
  align-self: end;
}

#channelsColumn {
  padding-top: 48px;
}

@media (max-width: 767px) {
  #channelsColumn {
    height: 15%;
    padding-top: 0;
    overflow-y: auto;
  }
  #messagesColumn {
    height: 85%;
  }
}